<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Админ{% endblock %}</title>

  <!-- Общая тема: цвета/шрифты/токены (общая для public+admin) -->
  <link rel="stylesheet" href="/static/css/theme.css">

  <!-- Админ-стили -->
  <link rel="stylesheet" href="/static/css/admin/header.css">
  <link rel="stylesheet" href="/static/css/admin/entity_pages.css">


  {% block head %}{% endblock %}
</head>
<body>
  {% include "admin/components/header.html" %}

  <main class="page">
    {% block content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
